<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/module01.css">
  <title>Etapes de résolution d'un problème</title>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Etapes de résolution d'un problème</h1>

    <article>
      <h2>Etapes</h2>

      <section>
        <h3>Présentation</h3>

        <div class="clearfix">
          <figure class="col-md-4 float-md-end mb-2 ms-md-2">
            <img src="images/module01/informatique_domaines.jpg" alt="Domaines de l'informatique">
            <figcaption>Quelques domaines d'utilisation de l'informatique</figcaption>
          </figure>

          <p>L'informatique est un outil précieux dans tous les domaines : mathématiques, physiques, économie,
            astronomie,
            énergie, médecine, enseignement, etc.</p>
          <p>Les programmes informatiques sont développés dans le but de résoudre des problèmes de tous les genres et
            les
            tailles.</p>
          <p>Un programme effectue le traitement des données selon un algorithme préétablit.</p>
          <p>Ainsi, un problème peut être de petite taille (calculer la somme de deux entiers) ou de grande taille
            (contrôler une navette spatiale ou un réacteur nucléaire à distance).</p>
        </div>
      </section>

      <section>
        <h3>Etapes de résolution d'un problème</h3>

        <figure>
          <img src="images/module01/etapes_resolution.png" alt="Etapes de résolution d'un problème">
          <figcaption>Etapes de résolution d'un problème</figcaption>
        </figure>

        <p>Le processus de résolution d'un problème comprend 4 étapes : </p>
        <ol type="a">
          <li>L'analyse du problème</li>
          <li>L'élaboration de l'algorithme</li>
          <li>L'implémentation de l'algorithme</li>
          <li>L'exploitation et la maintenance</li>
        </ol>
      </section>

      <section>
        <h3 class="p-break">Analyse du problème</h3>
        <p>Cette étape s'intéresse aux transformations (ou <strong>traitements</strong>) à effectuer sur les
          <strong>entrées</strong> pour produire des <strong>sorties</strong> utiles.
        </p>
        <figure>
          <img src="images/module01/analyse.png" alt="Analyse d'un problème">
          <figcaption>Analyse</figcaption>
        </figure>
        <p><strong>Exemple</strong></p>
        <p>Calculer et afficher la somme et le produit de deux entiers.</p>
        <ul>
          <li><strong>Données</strong> : a et b (deux entiers)</li>
          <li><strong>Traitements</strong> : <code>s &larr; a + b</code> et <code>p &larr; a * b</code></li>
          <li><strong>Sorties</strong> : Afficher la <strong>somme</strong> (<code>s</code>) et le
            <strong>produit</strong> (<code>p</code>)
          </li>
        </ul>
      </section>

      <section>
        <h3>Elaboration de l'algorithme</h3>
        <p>Un <strong>algorithme</strong> est <strong>une suite finie d'étapes</strong> permettant de <strong>résoudre
            un problème</strong>.</p>
        <p>Un <strong>algorithme</strong> est écrit, souvent, en <strong>pseudo-code</strong> et il doit respecter la
          syntaxe suivante :</p>
        <div class="row align-items-center">
          <div class="col-4">
            <pre><code class="algorithm">Algorithme Nom
Début  
  Traitements
Fin</code></pre>
          </div>
          <div class="col-5">
            <figure>
              <img src="images/module01/traitements.png" alt="Traitements informatiques">
            </figure>
          </div>
          <div class="col-3">
            <p class="text-center">TDO</p>
            <table class="table table-bordered border-dark">
              <thead class="table-light border-dark text-center">
                <tr>
                  <th>Objet</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <p><strong>Exemple</strong></p>
        <p>Calculer et afficher la somme et le produit de deux entiers.</p>
        <div class="row align-items-center">
          <div class="col-9">
            <pre><code class="algorithm">Algorithme Somme_Prod
Début  
  Ecrire("Donner a ? ") ; Lire(a)
  Ecrire("Donner b ? ") ; Lire(b)
  s &larr; a + b
  p &larr; a * b
  Ecrire(a, "+", b, "=", s)
  Ecrire(a, "*", b, "=", p)
Fin</code></pre>
          </div>
          <div class="col-3">
            <p class="text-center">TDO</p>
            <table class="table table-bordered border-dark">
              <thead class="table-light border-dark text-center">
                <tr>
                  <th>Objet</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>a, b, s, p</td>
                  <td>entier</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </section>

      <section>
        <h3>Programme</h3>

        <p>L'<strong>algorithme</strong> écrit en <strong>pseudo-code</strong> n'est pas exploitable sur un ordinateur.
          Il doit être, par exemple, <strong>traduit</strong> en <strong>Python</strong>.</p>
        <p><strong>Python</strong> est un <strong>langage de programmation</strong>, parmi d'autres.</p>

        <p class="p-break"><strong>Exemple</strong></p>
        <p>Calculer et afficher la somme et le produit de deux entiers.</p>

        <pre><code class="python">a = int(input("Donner a ? "))
b = int(input("Donner b ? "))
s = a + b
p = a * b
print(a, "+", b, "=", s)
print(a, "*", b, "=", p)</code></pre>
      </section>

      <section>
        <h3>Exécution et tests</h3>

        <p>Le <strong>programme</strong> est <strong>exécuté</strong>, <strong>corrigé</strong> et
          <strong>débogué</strong> afin d'éliminer tous les disfonctionnements possibles.
        </p>

        <p><strong>Exemple</strong></p>
        <p>Calculer et afficher la somme et le produit de deux entiers.</p>

        <pre><code class="python"># Programme à corriger
a = input("Donner a ? ")
b = input("Donner b ? ")
s = a + b
print("a + b =", s)
p = a * b
print(a "*" b "=" p)</code></pre>
      </section>
    </article>

    <article>
      <h2 class="p-break">Problèmes de logique</h2>

      <section>
        <h3>Problème des deux cordes</h3>

        <p>Tu as 2 cordes qui brûlent en exactement 60 minutes, mais pas de façon uniforme (elles peuvent brûler plus
          vite à certains endroits).</p>

        <p><strong>Question : </strong> Comment mesurer exactement 45 minutes avec ces deux cordes et un briquet ?</p>

        <figure>
          <img src="images/module01/prob_2_cordes.jpg" alt="Problème des deux cordes">
          <figcaption>Problème des deux cordes</figcaption>
        </figure>
      </section>

      <section>
        <h3>Problème des neufs billes</h3>

        <p>Vous avez 9 billes, dont 8 ont le même poids (100g) et une est plus légère (90g). Votre objectif est de
          déterminer, en utilisant une balance à plateaux, quelle est la bille plus légère en seulement 2 pesées.</p>

        <div id="nine-balls-app">
          <h4>Démonstration</h4>

          <template v-if="step == 0">
            <p>Cliquer sur les billes pour les mettre dans les plateaux de la bascule.</p>

            <div class="billes">
              <div class="bille" v-for="ball, idx in balls" @click="addBall(idx)">{{ball.num}}</div>
            </div>
            <div class="balance equilibre">
              <div class="plateau1">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsLeft" @click="removeBall(ballsLeft, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
              <div class="plateau2">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsRight" @click="removeBall(ballsRight, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" v-if="ballsLeft.length == 3 && ballsRight.length == 3"
                @click="nextStep()">Peser</button>
            </div>
          </template>

          <template v-if="step == 1">
            <div class="billes">
              <div class="bille" v-for="ball, idx in balls">{{ball.num}}</div>
            </div>

            <div class="balance"
              v-bind:class="{'equilibre': plateau1 == plateau2, 'droite': plateau1 < plateau2, 'gauche': plateau1 > plateau2}">
              <div class="plateau1">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsLeft" @click="removeBall(ballsLeft, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
              <div class="plateau2">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsRight" @click="removeBall(ballsRight, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
            </div>

            <p v-if="plateau1 == plateau2"><strong>La bille cherchée est parmi les billes : <span
                  v-for="ball in balls">{{ball.num}}, </span></strong></p>
            <p v-if="plateau1 > plateau2"><strong>La bille cherchée est parmi les billes : <span
                  v-for="ball in ballsRight">{{ball.num}}, </span></strong></p>
            <p v-if="plateau1 < plateau2"><strong>La bille cherchée est parmi les billes : <span
                  v-for="ball in ballsLeft">{{ball.num}}, </span></strong></p>

            <div>
              <button class="btn btn-primary" v-if="ballsLeft.length == 3 && ballsRight.length == 3"
                @click="nextStep()">Continuer</button>
            </div>
          </template>

          <template v-if="step == 2">
            <p>Mettre une seule bille dans chacun des plateaux de la bascule.</p>

            <div class="billes">
              <div class="bille" v-for="ball, idx in balls" @click="addBall(idx)">{{ball.num}}</div>
            </div>
            <div class="balance equilibre">
              <div class="plateau1">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsLeft" @click="removeBall(ballsLeft, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
              <div class="plateau2">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsRight" @click="removeBall(ballsRight, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" v-if="ballsLeft.length == 1 && ballsRight.length == 1"
                @click="nextStep()">Peser</button>
            </div>
          </template>

          <template v-if="step == 3">
            <div class="billes">
              <div class="bille" v-for="ball, idx in balls">{{ball.num}}</div>
            </div>

            <div class="balance"
              v-bind:class="{'equilibre': plateau1 == plateau2, 'droite': plateau1 < plateau2, 'gauche': plateau1 > plateau2}">
              <div class="plateau1">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsLeft" @click="removeBall(ballsLeft, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
              <div class="plateau2">
                <div class="billes">
                  <div class="bille" v-for="ball, idx in ballsRight" @click="removeBall(ballsRight, idx)">{{ball.num}}
                  </div>
                </div>
              </div>
            </div>

            <p v-if="plateau1 == plateau2"><strong>La bille cherchée est la bille numéro {{balls[0].num}} qui pèse
                {{balls[0].weight}}g.</strong></p>
            <p v-if="plateau1 > plateau2"><strong>La bille cherchée est la bille numéro {{ballsRight[0].num}} qui pèse
                {{ballsRight[0].weight}}g.</strong></p>
            <p v-if="plateau1 < plateau2"><strong>La bille cherchée est la bille numéro {{ballsLeft[0].num}} qui pèse
                {{ballsLeft[0].weight}}g.</strong></p>

            <div>
              <button class="btn btn-primary" @click="init()">Reset</button>
            </div>
          </template>
        </div>

      </section>

      <section>
        <h3 class="p-break">Problème de la rivière</h3>

        <figure>
          <img src="images/module01/probleme_riviere.png" alt="Problème de la rivière">
          <figcaption>Problème de la rivière</figcaption>
        </figure>

        <p>Il y a longtemps, un fermier est allé au marché et a acheté <strong>un loup</strong> , <strong>un
            agneau</strong> et <strong>un panier de choux</strong>. De retour chez lui, il arriva sur la rive d'une
          rivière et loua une barque pour la traverser, mais <strong>la barque</strong> ne pouvait transporter (à part
          lui) qu'<strong>un seul</strong> parmi le loup, l'agneau et le chou.</p>
        <p>S'il était laissé seul <u>sans sa présence</u>, le <strong>loup mangerait l'agneau</strong>, ou
          <strong>l'agneau mangerait le chou</strong>; le loup, carnivore, ne mangeait pas de choux.
        </p>

        <div id="probleme-riviere" class="d-print-none">
          <h4>Démonstration</h4>

          <div class="row">
            <div class="col-9">
              <div class="riviere">
                <div class="choux" v-bind:class="objets.choux"></div>
                <div class="agneau" v-bind:class="objets.agneau"></div>
                <div class="loup" v-bind:class="objets.loup"></div>
                <div class="passeur" v-bind:class="objets.passeur">
                  <div v-if="barque != ''" v-bind:class="barque"></div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="my-2">
                <button class="btn btn-sm btn-secondary" @click="addStep('Charger(loup)')"
                  v-bind:disabled="isControlButtonDisabled()">Charger(loup)</button>
                <button class="btn btn-sm btn-secondary" @click="addStep('Charger(agneau)')"
                  v-bind:disabled="isControlButtonDisabled()">Charger(agneau)</button>
                <button class="btn btn-sm btn-secondary" @click="addStep('Charger(choux)')"
                  v-bind:disabled="isControlButtonDisabled()">Charger(choux)</button>
                <button class="btn btn-sm btn-secondary" @click="addStep('Décharger()')"
                  v-bind:disabled="isControlButtonDisabled()">Décharger()</button>
                <button class="btn btn-sm btn-secondary" @click="addStep('Passer()')"
                  v-bind:disabled="isControlButtonDisabled()">Passer()</button>
              </div>
              <div class="my-2">
                <div class="m-1" v-for="step, idx in steps">
                  <template>
                    <button @click="moveUp(idx)" v-bind:disabled="idx == 0 || isRunning">&uarr;</button>
                    <button @click="moveDown(idx)"
                      v-bind:disabled="idx == steps.length - 1 || isRunning">&darr;</button>
                    <button @click="removeStep(idx)" v-bind:disabled="isRunning">&#x1F5D1;</button>
                    <span
                      v-bind:class="{'fw-bold': (isRunning || failed) && currStep == idx,'text-primary': isRunning && currStep == idx,'text-danger': failed && currStep == idx}">Etape
                      {{idx + 1}} :</span>
                    <button class="btn btn-sm btn-secondary">{{step}}</button>
                  </template>
                </div>
                <p v-if="failed" class="text-danger"><strong>Perdu : {{message}}</strong></p>
              </div>
              <div class="my-2" v-if="this.steps.length > 0">
                <button class="btn btn-primary" @click="run()" v-bind:disabled="isRunning">Jouer</button>
                <button class="btn btn-warning" @click="init()" v-bind:disabled="isRunning">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Tours de Hanoï</h3>

        <p>Le jeu des tours de Hanoï est constitué de trois piquets A, B et C, placés verticalement, et de n disques
          de taille décroissante. Chacun des disques est percé en son centre pour être mis autour de l’un ou l’autre
          des trois piquets. Les n disques sont initialement placés par taille décroissante autour du piquet A (celui
          de gauche), formant ainsi une tour. Le but du jeu consiste à déplacer les disques jusqu’à parvenir à la
          situation finale dans laquelle tous les disques se retrouvent autour du piquet C par ordre de taille
          décroissante. Les disques peuvent aller et venir librement sur les piquets, en suivant deux règles :</p>

        <ul>
          <li>on ne déplace qu’un seul disque à la fois;</li>
          <li>un disque ne peut jamais être posé sur un disque plus petit.</li>
        </ul>

        <div id="tour-hanoi">
          <div class="row">
            <div class="col-9">
              <div class="piliers">
                <div class="pilier" v-bind:data-label="String.fromCharCode(65 + pilIdx)" v-for="disks, pilIdx in disks"
                  @click="pilierClicked(pilIdx)">
                  <div class="disk" v-bind:class="'size-' + disk" v-for="disk, dskIdx in disks">{{disk}}</div>
                </div>
              </div>
            </div>
            <div class="col-3" v-if="operations.length > 0">
              <p><strong>Opérations</strong></p>
              <ol>
                <li class="my-1" v-for="op, idx in operations">{{op}}</li>
              </ol>
              <div class="my-2">
                <button class="btn btn-secondary" @click="init()">Remise à zéro</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Problème des trois interrupteurs et de l'ampoule</h3>

        <p>Tu es dans une pièce fermée avec 3 interrupteurs. Ces interrupteurs contrôlent une seule ampoule située dans
          une autre pièce, que tu ne peux pas voir depuis ta position.</p>
        <p>Tu peux :</p>
        <ul>
          <li>Actionner les interrupteurs autant de fois que tu veux.</li>
          <li>Aller une seule fois dans la pièce où se trouve l’ampoule pour vérifier son état (allumée, éteinte).</li>
        </ul>

        <figure>
          <img src="images/module01/probl_3_int_01.png" alt="Problème des trois interrupteurs et de l'ampoule">
          <figcaption>Problème des trois interrupteurs et de l'ampoule</figcaption>
        </figure>

        <p><strong>Question :</strong> Comment déterminer quel interrupteur contrôle l’ampoule, en une seule visite dans
          la pièce de l’ampoule ?</p>
      </section>

      <section>
        <h3>Problème des 20 prisonniers</h3>

        <figure>
          <img src="images/module01/prob_20_prisonniers.jpg" alt="Problème des 20 prisonniers">
          <figcaption>Problème des 20 prisonniers</figcaption>
        </figure>

        <p>Il y a <strong>20 prisonniers</strong> numérotés de <strong>1 à 20</strong>. Dans une pièce, il y a
          <strong>20 tiroirs</strong>, chacun contenant un numéro unique de 1 à 20, placé aléatoirement.
        </p>

        <ul>
          <li>Chaque prisonnier peut ouvrir jusqu’à 50 tiroirs pour essayer de trouver son propre numéro.</li>
          <li>Ils ne peuvent pas communiquer une fois l’expérience commencée.</li>
        </ul>
        <p>Si tous les prisonniers trouvent leur numéro, ils sont tous libéré, sinon tous sont exécutés. </p>

        <p><strong>Question :</strong> Quelle stratégie peuvent-ils utiliser pour maximiser leurs chances de survie ?
        </p>


      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2025/2026</div>
  </footer>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.pack.js"></script>
  <script src="assets/js/hljs.algorithm.js"></script>
  <script src="assets/js/clipboard.min.js"></script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/module01-apps.js"></script>
  <script src="assets/js/pages.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
</body>

</html>